@mixin flex-center {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin flex-between {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@mixin flex-around {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@mixin flex-end {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin flex-start {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin flex-right {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
