//colors
$primary: #D8B9D6;
$secundary: #9B5AF4;
$white: #FFFFFF;
$gray: #666666;

//sizes
$small10: 10px;
$small: 12px;
$medium: 14px;
$medium16: 16px;
$medium18: 18px;
$medium20: 20px;
$medium22: 22px;
$large: 24px;
$large: 26px;
$large28: 28px;
$large32: 32px;
$large36: 36px;